<nav class="navbar">
	<div class="logo">
		<a href="/"><img src="{{asset('assets/images/logos/logo.svg')}}" alt="Logo"></a>
	</div>
	<div class="nav-links">
		<ul>
			<li><a id=''class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}"href="{{ path('app_home') }}">Accueil</a></li>
			<li><a id=''class="{{ app.request.attributes.get('_route') == 'app_about' ? 'active' : '' }}"href="{{ path('app_about') }}">À propos</a></li>
			<li><a id=''class="{{ app.request.attributes.get('_route') == 'app_servicies' ? 'active' : '' }}"href="{{ path('app_servicies') }}">Services</a></li>
			<li><a id=''class="{{ app.request.attributes.get('_route') == 'app_contact' ? 'active' : '' }}"href="{{ path('app_contact') }}">Contact</a></li>
		</ul>
	</div>
	<div class="nav-links connect">
		<ul>
			{% if app.user %}
				<li>
					<a id='' href="#">Mon compte</a>
				</li>
				<li>
					<a href="{{path('app_logout')}}">Déconnexion</a>
				</li>
			{% else %}
				<li><a href="{{path('app_login')}}">Connexion</a></li>
				<li><a href="{{path('app_register')}}">Inscription</a></li>
			</ul>
		{% endif %}
	</div>
	<div class="burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</nav>
